<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; BlueMoonSoftware.io</div>
            @*<div>
                <a asp-controller="Home" asp-action="Privacy">@SharedLocalizer.GetLocalizedHtmlString("Privacy Policy")</a>
                &middot;
                <a asp-controller="Home" asp-action="Terms">Terms &amp; Conditions</a>
            </div>*@
        </div>
    </div>
</footer>