<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - BlueMoonCRM</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.2.513/styles/kendo.default-v2.min.css" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/app.css" />
    <link href="~/assets/vendor/weather-icons/css/weather-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/weather-icons/css/weather-icons-wind.css" rel="stylesheet" />
    <link href="~/assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href='~/assets/vendor/@@fortawesome/fontawesome-free/css/brands.css' rel="stylesheet" />
    <link href='~/assets/vendor/@@fortawesome/fontawesome-free/css/regular.css' rel="stylesheet" />
    <link href='~/assets/vendor/@@fortawesome/fontawesome-free/css/solid.css' rel="stylesheet" />
    <link href='~/assets/vendor/@@fortawesome/fontawesome-free/css/fontawesome.css' rel="stylesheet" />

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    @RenderSection("Styles", required: false)
</head>
<body class="sb-nav-fixed">
    <partial name="_Navigation" />
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <partial name="_SideNav" />
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <partial name="_Footer" />
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/locales-all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2020.2.513/js/kendo.all.min.js"></script>
    <script type="text/javascript" src="~/js/notify.min.js"></script>
    <script src="~/js/script-custom-calendar.js"></script>
    <script src="~/assets/vendor/jquery-slimscroll/jquery.slimscroll.js"></script>

    @RenderSection("Scripts", required: false)



    <!-- Modules -->
    <script src="~/assets/master/js/modules/charts/chart-knob.js"></script>
    @*<script src="~/assets/master/js/modules/charts/chart.js"></script>*@
    <script src="~/assets/master/js/modules/charts/chartist.js"></script>
    <script src="~/assets/master/js/modules/charts/easypiechart.js"></script>
    <script src="~/assets/master/js/modules/charts/flot.js"></script>
    <script src="~/assets/master/js/modules/charts/morris.js"></script>
    <script src="~/assets/master/js/modules/charts/rickshaw.js"></script>
    <script src="~/assets/master/js/modules/charts/sparkline.js"></script>
    <script src="~/assets/master/js/modules/common/bootstrap-start.js"></script>
    <script src="~/assets/master/js/modules/common/card-tools.js"></script>
    <script src="~/assets/master/js/modules/common/constants.js"></script>
    <script src="~/assets/master/js/modules/common/fullscreen.js"></script>
    <script src="~/assets/master/js/modules/common/load-css.js"></script>
    <script src="~/assets/master/js/modules/common/navbar-search.js"></script>
    <script src="~/assets/master/js/modules/common/now.js"></script>
    <script src="~/assets/master/js/modules/common/rtl.js"></script>
    <script src="~/assets/master/js/modules/common/sidebar.js"></script>
    <script src="~/assets/master/js/modules/common/slimscroll.js"></script>
    <script src="~/assets/master/js/modules/common/table-checkall.js"></script>
    <script src="~/assets/master/js/modules/common/trigger-resize.js"></script>
    <script src="~/assets/master/js/modules/elements/cards.js"></script>
    <script src="~/assets/master/js/modules/elements/nestable.js"></script>
    <script src="~/assets/master/js/modules/elements/notify.js"></script>
    <script src="~/assets/master/js/modules/elements/porlets.js"></script>
    <script src="~/assets/master/js/modules/elements/sortable.js"></script>
    <script src="~/assets/master/js/modules/elements/sweetalert.js"></script>
    <script src="~/assets/master/js/modules/forms/color-picker.js"></script>
    <script src="~/assets/master/js/modules/forms/forms.js"></script>
    <script src="~/assets/master/js/modules/forms/imagecrop.js"></script>
    <script src="~/assets/master/js/modules/forms/select2.js"></script>
    <script src="~/assets/master/js/modules/forms/upload.js"></script>
    <script src="~/assets/master/js/modules/forms/wizard.js"></script>
    <script src="~/assets/master/js/modules/forms/xeditable.js"></script>
    <script src="~/assets/master/js/modules/maps/gmap.js"></script>
    <script src="~/assets/master/js/modules/maps/vector.map.demo.js"></script>
    <script src="~/assets/master/js/modules/maps/vector.map.js"></script>
    <script src="~/assets/master/js/modules/pages/pages.js"></script>
    <script src="~/assets/master/js/modules/tables/bootgrid.js"></script>
    <script src="~/assets/master/js/modules/tables/datatable.js"></script>
    <!-- Custom -->
    <script src="~/assets/master/js/custom/custom.js"></script>

</body>
</html>
