@using Microsoft.AspNetCore.Identity
@using BlueMoonAdmin.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="sb-sidenav-footer">
        <div class="small">@SharedLocalizer.GetLocalizedHtmlString("Logged in as:")</div>
        @UserManager.GetUserName(User)
    </div>
}
