@{
    ViewData["Title"] = "Confirm email";
}


<div>
    <h2 class="mt-4 text-center text-success">Thank you for confirming your email, please login below</h2>
</div>

@model LoginViewModel

@{
    ViewData["Title"] = "Log in";
    Layout = "_LoginLayout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header text-center bg-primary">
                    <a href="#">
                        <img class="block-center rounded" src="~/img/logo.png" alt="Image" />
                    </a>
                </div>
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Sign in to continue</h3>
                </div>
                <div class="card-body">
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" asp-action="Login" asp-controller="Account">
                        <div class="form-group">
                            <label class="small mb-1" asp-for="Email">Email</label>
                            <input class="form-control py-4" asp-for="Email" placeholder="Enter email address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" asp-for="Password">Password</label>
                            <input class="form-control py-4" asp-for="Password" placeholder="Enter password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" asp-for="RememberMe" />
                                <label class="custom-control-label" asp-for="RememberMe">Remember Me</label>
                                <a class="small mb-4 float-right" asp-action="ForgotPassword">Forgot Password?</a>
                            </div>
                        </div>
                        <button class="btn btn-primary w-100" type="submit">Login</button>
                    </form>
                    <p class="pt-3 text-center">Don't have an account?</p>
                    <div class="form-group">
                        <p>
                            <a class="btn btn-light w-100" asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]">Register as a new user</a>
                        </p>
                        <p>
                            <a class="btn btn-light w-100" id="resend-confirmation" asp-action="ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </div>


                @*<div class="text-center">
                        <div>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Need an account? Sign up!</a>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="p-3 text-center">
        <span>BlueMoonCRM</span>
        <br />
        <span>We're not really here</span>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}