
@{
    ViewData["Title"] = "ContactUs";
    Layout = "_FrontEndLayout";
}

<div id="home" class="header-hero bg_cover" style="background-image: url(@Url.Content("~/assets/images/banner-bg.svg")">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    @*<h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">BlueMoon CRM Privacy Policy</h3>*@
                    <h2 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">BlueMoon CRM Say Hello</h2>
                    @*<p class="text wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Please get in touch if you have any questions regarding our services.
                        We're always happy to assist.</p>*@
                    @*<a asp-controller="Account" asp-action="Register" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Get Started</a>*@
                </div>  <!--header hero content -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                    <img src="~/assets/images/contact-hero.png" alt="hero">
                </div> <!-- header hero image -->
            </div>
        </div> <!-- row -->
    </div> <!-- header hero -->
</div> <!-- container -->
<!-- Section: Contact v.1 -->
<div class="container">
    <section class="my-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-12 mb-lg-0 mb-4">

                <!-- Form with header -->
                <div class="card">
                    <div class="card-body">
                        <!-- Header -->
                        <div class="form-header blue accent-1">
                            <h3 class="mt-2 justify-content-center"><i class="fas fa-envelope"></i> Write to us:</h3>
                        </div>
                        <p class="dark-grey-text justify-content-center">We'll write rarely, but only the best content.</p>
                        <!-- Body -->
                        <div class="md-form">
                            <i class="fas fa-user prefix grey-text"></i>
                            <input type="text" id="form-name" class="form-control">
                            <label for="form-name">Your name</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="text" id="form-email" class="form-control">
                            <label for="form-email">Your email</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-tag prefix grey-text"></i>
                            <input type="text" id="form-Subject" class="form-control">
                            <label for="form-Subject">Subject</label>
                        </div>
                        <div class="md-form">
                            <i class="fas fa-pencil-alt prefix grey-text"></i>
                            <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
                            <label for="form-text">Send message</label>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-outline-success">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- Form with header -->

            </div>
        </div>

    </section>
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    <!-- Section: Contact v.1 -->
</div>

<div id="particles-1" class="particles"></div>

