
@{
    ViewData["Title"] = "PrivacyPolicy";
    Layout = "_FrontEndLayout";
}

<div id="home" class="header-hero bg_cover" style="background-image: url(@Url.Content("~/assets/images/banner-bg.svg")">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="header-hero-content text-center">
                    <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">BlueMoon CRM Privacy Policy</h3>
                    @*<h2 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">BlueMoon CRM Privacy Policy</h2>*@
                    @*<p class="text wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">An integrated, data-driven software solution that improves how you interact and do business with your customers </p>
                        <a asp-controller="Account" asp-action="Register" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Get Started</a>*@
                </div> <!-- header hero content -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                    <img src="~/assets/images/privacy-hero.png" alt="hero">
                </div> <!-- header hero image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div id="particles-1" class="particles"></div>
</div> <!-- header hero -->

<div class="row">
    <div class="container">
        <!-- General Information -->
        <h2 class="mb-4">General information</h2>
        <p class="mb-4">
            We, at BlueMoonCRM and our subsidiaries (“<strong>we</strong>” or the “<strong>Company</strong>”), respect the privacy of our customers,
            business partners and other visitors to our website who may choose to provide Personal Information (as defined below) and are committed
            to respect their privacy. We recognize the need for appropriate protections and management of Personal Information that you provide to us.
            This Privacy Policy describes the types of information we may collect,
            how that information may be used, and with whom the information may be shared.
        </p>

        <!-- What we do with information -->
        <h2 class="mb-4">What information do we collect?</h2>
        <p class="mb-4">
            When ordering or registering on our site (including subscribe to our newsletter, register for an event, respond to a survey or fill out a form)
            or when we receive the business contact information from various marketing events we organize or participate in, we may collect individually identifiable
            information, namely information that identifies an individual or may with reasonable effort identify an individual (“<strong>Personal Information</strong>”),
            such as your name, address, telephone number, email address, IP address, user IDs and passwords and contact preferences. Personal Information collected
            online may be supplemented with information you provide to us through other services and sources such as trade shows or seminars, as well as other data
            collection methods.
        </p>
        <p class="mb-4">
            We do not require that customers, partners or other visitors to our site provide us with Personal Information and you may visit our site anonymously.
            In this case, we do not collect Personal Information when you visit our site unless you choose to provide it to us. The decision to provide Personal
            Information is voluntary and you may withdraw
            your consent at any time by contacting us at <a href="mailto:privacy@bluemooncrm.com">privacy@bluemooncrm.com</a>. However, if you do not provide
            the Personal Information requested, you may not be able to proceed with the activity or receive the benefit for which the Personal Information is
            being requested (including, without limitation, the support services). Additionally, after you register to our site, we will be able to backtrack
            your activity on our site even before you registered (information that if you did not register will remain anonymous to us).
        </p>

        <!-- How we use Information -->
        <h2 class="mb-2">How we use the information we collect?</h2>
        <p class="mb-4">We use the Personal Information for <u>legitimate business purposes only</u>, such as:</p>

        <ul class="fa-ul">
            <li>
                <span class="fa-li"><i class="fas fa-user-secret"></i></span>Your Personal Information will NOT be sold, exchanged, transferred or given to any company outside the BlueMoonCRM Group or our trusted third party service
                providers for any reason whatsoever, without your consent, other than for the express purpose of offering products or services or delivering the purchased
                product or service requested, and as otherwise explicitly set forth herein.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-user-secret"></i></span>We may communicate (via mail, email or phone call) periodic informational or promotional content. However, you can always unsubscribe or choose not
                to receive promotional information from us by following the specific instructions in the email you receive or by notifying us via the appropriate method below.
                It may take a reasonable period of time to process your request, no longer than 30 days for direct mail and telephone promotions and 10 business days for
                email promotions. This will not apply to the receipt of mandatory service communications that are considered part of certain BlueMoonCRM services,
                which you may receive periodically unless you cancel the service.
            </li>
            <li><span class="fa-li"><i class="fas fa-user-secret"></i></span>Your information helps us to respond more effectively to your customer service requests and support needs.</li>
            <li><span class="fa-li"><i class="fas fa-user-secret"></i></span>We continually strive to improve our site offerings based on the information and feedback we receive from you.</li>
            <li><span class="fa-li"><i class="fas fa-user-secret"></i></span>To perform research, technical diagnostics and analytics with regard to the website.</li>
            <li class="mb-4">
                <span class="fa-li"><i class="fas fa-user-secret"></i></span>We may disclose Personal Information, or any information you submitted via our software products if we have a good faith belief that disclosure of
                such information is helpful or reasonably necessary to: (i) comply with any applicable law, regulation, legal process or governmental request; (ii)
                enforce our policies, including investigations of potential violations thereof; (iii) investigate, detect, prevent or take action regarding illegal
                activities or other wrongdoing, suspected fraud or security issues; (iv) to establish or exercise our rights to defend against legal claims; (v) prevent
                harm to the rights, property or safety of us, our users, yourself or any third party; or (vi) for the purpose of collaborating with law enforcement
                agencies or in case we find it necessary in order to enforce intellectual property or other legal rights.
            </li>

        </ul>

        <p class="mb-4">We use the Personal Information only to the extent required and while maintaining your right to privacy.</p>
        <p class="mb-4">
            We strive to keep your Personal Information accurate. We have implemented technology, management processes and policies to maintain
            data integrity. We will provide you with access to your information when reasonable, or in accordance with relevant laws, including making reasonable
            efforts to provide you with online access and the opportunity to change your information. To protect your privacy and security, we will take steps to
            verify your identity before granting access or making changes to your data. Requests to delete Personal Information are subject to any applicable
            legal and ethical reporting or document retention obligations. To access and/or correct information, you can do so online or notify us via the appropriate method below.
        </p>

        <!-- How we share Information -->
        <h2 class="mb-4">With whom we share the information we collect?</h2>
        <p class="mb-4">
            Since we operate globally, it may be necessary to transfer, store and process Personal Information in the United States or any other
            country in which we or our affiliates, subsidiaries or service providers maintain facilities. The data protection and other laws of these countries may not
            be as comprehensive as those in the European Union − in these instances we will take steps to ensure that a similar level of protection is given to Personal
            Information. You hereby consent to the transfer of your Personal Information to countries outside the European Union.
        </p>
        <p class="mb-4">
            We <u>do not</u> sell, trade or otherwise transfer Personal Information to outside parties (except to the third parties with whom we
            have contracted to provide services to us, as detailed in the section below).
        </p>
        <p class="mb-4">
            We use third parties, such as cookies* and trackers, to compile aggregate data about site traffic and site interaction for marketing
            and targeting purposes, to assist us in better understanding our site visitors and so that we can offer better site experiences and tools in the future.
            These service providers are not permitted to use the information collected on our behalf except for the purpose of providing the services to us.
            Some of the servers of these third parties may be located outside of the European Union.
        </p>
        <p class="mb-4">
            * Cookies are small data files transferred to your computer’s hard drive by a website. They keep a record of your preferences making
            your subsequent visits to the site more efficient. Cookies may store a variety of information, including the number of times that you access a site,
            registration information and the number of times that you view a particular page or other item on the site. Most modern browsers are designed to accept
            cookies but they can be easily modified to block cookies. See your browser’s help files for details on how to block cookies, how to know when you
            have received cookies and how to disable cookies completely.
        </p>
        <p class="mb-4">
            In most cases, we will not receive the information these third parties collect but only receive the analysis or results that we
            requested, and the sole holders of the collected information are the third parties. Below you can find the links to the privacy policies of the third
            parties we currently use on our site. This list is reviewed and updated periodically.
        </p>

        <p><a href="https://www.google.com/intl/en/policies/privacy/">https://www.google.com/intl/en/policies/privacy/</a></p>
        <p><a href="https://privacy.microsoft.com/en-gb/privacystatement/">https://privacy.microsoft.com/en-gb/privacystatement/</a></p>
        <p><a href="https://www.hotjar.com/privacy">https://www.hotjar.com/privacy</a></p>
        <p><a href="https://www.facebook.com/about/privacy/">https://www.facebook.com/about/privacy/</a></p>
        <p><a href="https://wistia.com/privacy">https://wistia.com/privacy</a></p>
        <p class="mb-4"><a href="https://www.linkedin.com/legal/privacy-policy">https://www.linkedin.com/legal/privacy-policy</a></p>
        <p class="mb-4">
            Also, we may release your information when we believe release is appropriate to comply with the law, enforce our site policies
            or protect ours or others’ rights, property or safety. However, non-personally identifiable visitor information may be provided to other
            parties for marketing, advertising or other uses.
        </p>

        <!--How long do we hold information -->
        <h2 class="mb-4">How long do we retain the information we collect?</h2>
        <p class="mb-4">
            At any time, you may request to view, change and update your Personal Information by emailing us at <a href="mailto:privacy@bluemooncrm.com">privacy@bluemooncrm.com</a>.
            You can also request that we will cease processing, correct errors or that we will erase Personal Information by emailing us at
            <a href="mailto:privacy@bluemooncrm.com">privacy@bluemooncrm.com</a>.
        </p>
        <p class="mb-4">
            Due to the possibility of long sales cycles, one never knows when a potential client will re-engage with BlueMoonCRM and having the background and
            history of the contracting party will assist BlueMoonCRM in providing a better service. Therefore, please note that unless you instruct us otherwise
            we retain the information we collect for as long as needed to provide our services and to comply with our legal obligations, resolve disputes and
            enforce our agreements.
        </p>
        <p class="mb-4">We may rectify, replenish or remove incomplete or inaccurate information, at any time and at our own discretion.</p>

        <!--Safeguarding information -->
        <h2 class="mb-4">How do we safeguard and transfer your information?</h2>
        <p class="mb-4">
            We are committed to use our reasonable efforts, in accordance with market best practices, to ensure the security, confidentially
            and integrity of the Personal Information you choose to provide us. Access to the Personal Information is based on
            the &#8216;least to know&#8217; concept together with role based access control systems, ensuring only authorized access to the Personal Information.
            To protect the privacy of any Personal Information you may have provided, we are using data hosts who implement market best practice security measures.
            Although we take steps to safeguard such information, we cannot be responsible for the acts of those who gain unauthorized access, and we make no warranty,
            express, implied or otherwise, that we will prevent such access. If a password is used to help protect your accounts and Personal Information, it is your
            responsibility to keep your password confidential.
        </p>

        <!-- Your Rights -->
        <h2 class="mb-2">What are your rights?</h2>
        <p class="mb-4">You may contact us at <a href="mailto:privacy@bluemooncrm.com">privacy@bluemooncrm.com</a> any time and request:</p>

        <ul>
            <li class="mb-4">
                To access, delete, change or update any personal data relating to you (for example, if you believe that your Personal Information is incorrect,
                you may ask to have it corrected);
            </li>
            <li class="mb-4">
                That we will cease any further use of your Personal Information (for example, you may ask that we stop using or sharing your Personal
                Information with third parties), including to stop direct marketing.
            </li>
        </ul>
        <p class="mb-4">If you wish to raise a complaint on how we have handled your Personal Information, you can contact us as set forth below.</p>

        <!-- Minors Information -->
        <h2 class="mb-4">Minors</h2>
        <p class="mb-4">
            Our site, products and services are all directed to people who are above the age of 18. In the event that we become aware that a user under the age
            of 18 has shared any Personal Information, we will discard such information. If you have any reason to believe that a minor has shared any Personal
            Information with us, please contact us at <a href="mailto:privacy@bluemooncrm.com">privacy@bluemooncrm.com</a>.
        </p>

        <!-- Policy Updates -->
        <h2 class="mb-4">Updates or amendments to the Privacy Policy</h2>
        <p class="mb-4">
            We may revise this Privacy Policy from time to time, in our sole discretion, and the most current version will always be posted on the website.
            We encourage you to review this Privacy Policy regularly for any changes.
        </p>

        <!-- Contact us -->
        <h2 class="mb-4">Contacting Us</h2>
        <p>
            If there are any questions regarding this Privacy Policy or the information that we collect about you, or if you feel that your privacy was
            treated not in accordance with this Privacy Policy, you may contact us at <a href="mailto:privacy@bluemooncrm.com">privacy@bluemooncrm.com</a><u>.</u>
        </p>

    </div>
</div>
