
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <h1 class="mt-4">Task Manager</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="TaskManager" asp-action="Index">Task Manager</a></li>
        <li class="breadcrumb-item active">Task Manager Dashboard</li>
    </ol>
</div>

