@model BlueMoonAdmin.Models.ToDoListItem
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <h1 class="mt-4 p-2">Add new task item</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Create New Task</li>
        </ol>
    </div>

    <form method="post" asp-action="Create">
        <div class="container col-12 border-bottom">
            <div class="row">
                     <div class="col-lg-12">
                         <div class="form-group row text-center">
                             <div class="col-2">
                                 <label asp-for="ToDoDate"></label>
                             </div>
                             <div class="col-2">
                                 <label asp-for="ToDoDueDate"></label>
                             </div>
                             <div class="col-2">
                                 <label asp-for="ToDoTask"></label>
                             </div>
                             <div class="col-2">
                                 <label asp-for="ToDoCategory"></label>
                             </div>
                             <div class="col-2">
                                 <label asp-for="ToDoImportance"></label>
                             </div>
                             <div class="col-2">
                                 <label asp-for="Completed"></label>
                             </div>
                         </div>
                         <div class="form-group row text-center">
                             <div class="col-2">
                                 <input asp-for="ToDoDate" class="form-control" type="date" />
                             </div>
                             <div class="col-2">
                                 <input asp-for="ToDoDueDate" class="form-control" type="date" />
                             </div>
                             <div class="col-2">
                                 <input asp-for="ToDoTask" class="form-control" />
                             </div>
                             <div class="col-2">
                                 <select asp-for="ToDoCategory" class="form-control">
                                     <option>-- Select Option --</option>
                                     <option>Customer Demo</option>
                                     <option>Site Visit</option>
                                     <option>Quote</option>
                                     <option>Meeting</option>
                                 </select>
                             </div>
                             <div class="col-2">
                                 <select asp-for="ToDoImportance" class="form-control">
                                     <option>-- Select Option --</option>
                                     <option>Low</option>
                                     <option>Medium</option>
                                     <option>High</option>
                                 </select>
                             </div>
                             <div class="col-2">
                                 <input asp-for="Completed" class="form-control" />
                             </div>
                         </div>
                         
                            <div class="form-group row">
                                <div class="col-8 offset-2 row p-3">
                                    <div class="col">
                                        <input type="submit" class="btn btn-info w-75" value="Create New Task" />
                                    </div>
                                    <div class="col">
                                        <a asp-action="Index" class="btn btn-danger w-75">Go Back</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
       </form>
   

