
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <h1 class="mt-4">Manage Your Day</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">My To Do List</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row pt-4 border p-2">
                <div class="col-12 mb-3 text-black">
                    <p class="text-black">Manage Your Day.</p>
                    <p class="p-2 text-black">Add items to do list:</p>
                    @*<ol class="text-black">
                        <li> List</li>
                        <li> All Contact Details</li>
                        <li> Service Contract Details i.e when last serviced</li>
                        <li> Current Machine Type</li>
                        <li> After you create the customer you can add notes, additional contacts and additional addresses</li>
                    </ol>*@
                </div>
            </div>
            </div>
        </div>
    </div>
