
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container-fluid">
    <h1 class="mt-4"> Servicing Calendar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Calendar" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Calendar</li>
    </ol>
    @if (User.IsInRole(BlueMoonAdmin.Utility.Helper.Admin))
    {
        <div class="form-group row col-2 mb-4" id="divEngineersList">
            <label> Select Engineer </label>
            @Html.DropDownList("engineerId", new SelectList(ViewBag.EngineerList, "Id", "Name"), new { @class = "form-control select2" })

        </div>
    }
    <div id="calendar" class="col-12"></div>
</div>

<partial name="_AddEditAppointment" />



@section Scripts{

    <script src="~/js/script-custom-calendar.js"></script>

}

