@model BlueMoonAdmin.Models.Leads

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="container-fluid">
        <h1 class="mt-4">Create New Lead</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Leads" asp-action="Leads">Leads Dashboard</a></li>
            <li class="breadcrumb-item active">Leads Create</li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-default">
                    <div class="card-body text-center">
                        <div class="py-4">
                            <img class="img-fluid rounded-circle img-thumbnail thumb96" src="~/assets/images/user/contact-placeholder.png" alt="Contact" />
                        </div>
                        <h3 class="m-0 text-bold">Add new lead details</h3>
                        <div class="text-center">
                            <div class="my-3">
                                <h4 class="btn btn-secondary"><i class="fas fa-phone mr-2"></i> </h4>
                                <h4 class="btn btn-secondary"><i class="fas fa-envelope-open-text mr-2"></i></h4>
                                <h4 class="btn btn-secondary"><i class="fas fa-globe mr-2"></i>  www.website.com</h4>
                            </div>
                            <div class="dropdown-divider"></div>
                        </div>
                        <div class="row p-4">
                            <p class="text-black">Please ensure you enter the following information:</p>
                            <p><i class="fas fa-user mr-2"></i>  Company Name including main address - you can create more later</p>
                            <p><i class="fas fa-phone mr-2"></i>  All Contact Details including any mobile and email addresses</p>
                            <p><i class="fas fa-check mr-2"></i>  Once created you can add more contacts, addresses and notes.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-8">
                <div class="card card-default">
                    <div class="card-header d-flex align-items-center">
                        <div class="d-flex justify-content-center col">
                            <div class="h4 m-0 text-center">Add New Lead Information</div>
                        </div>
                    </div>
                    <!-- #region Form -->

                    <div class="card-body">
                        <div class="row py-4 justify-content-center">
                            <div class="col-12 col-sm-10">
                                <input asp-for="Id" hidden />
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="CompanyName">Company Name:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" type="text" asp-for="CompanyName" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="ContactName">Contact Name:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" type="text" asp-for="ContactName" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="EmailAddress">Email:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="EmailAddress" type="email"/>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="TelephoneNumber">Phone:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="TelephoneNumber" type="tel"/>
                                        <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="MobileNumber">Mobile:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="MobileNumber" type="tel"/>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="WebAddress">Website:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="WebAddress" type="url" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="OfficeAddress">Office Address:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="OfficeAddress" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="AddressLine">Address Line 2:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="AddressLine" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="CityRegion">City / Region:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="CityRegion" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="PostCode">PostCode:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="PostCode" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="LeadSince">Lead Since:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" type="date" asp-for="LeadSince"  />
                                    </div>
                                </div>
                                <div class="form-group row mt-6">
                                    <div class="col-4 offset-2">
                                        <input type="submit" class="btn btn-info w-75" value="Create" />
                                    </div>
                                    <div class="col-4 offset-2">
                                        <a asp-controller="Leads" asp-action="Index" class="btn btn-outline-dark w-75">Go Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>




