


@model BlueMoonAdmin.Models.ViewModels.LeadsViewModel

@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete">
    <input asp-for="Leads.Id" hidden />
    <div class="container-fluid">
        <h1 class="mt-4">Delete Lead</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Leads" asp-action="Leads">Leads Dashboard</a></li>
            <li class="breadcrumb-item active">Delete Lead</li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-default">
                    <div class="card-body text-center">
                        <div class="py-4">
                            <img class="img-fluid rounded-circle img-thumbnail thumb96" src="~/assets/images/user/contact-placeholder.png" alt="Contact" />
                        </div>
                        <h3 class="m-0 text-bold">Delete @Model.Leads.CompanyName</h3>
                        <div class="text-center">
                            <div class="my-3">
                                <a href=@("tel:"+Model.Leads.TelephoneNumber)><h4 class="btn btn-secondary"><i class="fas fa-phone mr-2"></i>@Model.Leads.TelephoneNumber</h4></a>
                                <a href=@("mailto:"+Model.Leads.EmailAddress)><h4 class="btn btn-secondary"><i class="fas fa-envelope-open-text mr-2"></i>@Model.Leads.EmailAddress</h4></a>
                                <a href=@Model.Leads.Website target="_blank"> <h4 class="btn btn-secondary"> <i class="fas fa-globe mr-2"></i>@Model.Leads.Website</h4></a>
                            </div>
                            <div class="dropdown-divider"></div>
                        </div>
                        <div class="row p-4">
                            <h1>Delete</h1>

                            <h3>Are you sure you want to delete this?</h3>
                           
                            @*<p class="text-black">Please ensure you enter the following information:</p>
        <p><i class="fas fa-user mr-2"></i>  Company Name including main address - you can create more later</p>
        <p><i class="fas fa-phone mr-2"></i>  All Contact Details including any mobile and email addresses</p>
        <p><i class="fas fa-check mr-2"></i>  Once created you can add more contacts, addresses and notes.</p>*@
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-8">
                <div class="card card-default">
                    <div class="card-header d-flex align-items-center">
                        <div class="d-flex justify-content-center col">
                            <div class="h4 m-0 text-center">Lead Information</div>
                        </div>
                    </div>
                    <!-- #region Form -->

                    <div class="card-body">
                        <div class="row py-4 justify-content-center">
                            <div class="col-12 col-sm-10">
                                <input asp-for="Leads.Id" hidden />
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.CompanyName">Company Name:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" type="text" asp-for="Leads.CompanyName" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.ContactName">Contact Name:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" type="text" asp-for="Leads.ContactName" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.EmailAddress">Email:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.EmailAddress" type="email" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.TelephoneNumber">Phone:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.TelephoneNumber" type="tel" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.MobileNumber">Mobile:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.MobileNumber" type="tel" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.Website">Website:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.Website" type="url" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.OfficeAddress">Office Address:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.OfficeAddress" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.AddressLine">Address Line 2:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.AddressLine" readonly />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.CityRegion">City / Region:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.CityRegion" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.PostCode">PostCode:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.PostCode" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.Vat">VAT:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" asp-for="Leads.Vat" readonly />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-bold col-xl-2 col-md-3 col-4 col-form-label text-right" asp-for="Leads.LeadSince">Lead Since:</label>
                                    <div class="col-xl-10 col-md-9 col-8">
                                        <input class="form-control" type="date" asp-for="Leads.LeadSince" readonly />
                                    </div>
                                </div>
                                <div class="form-group row mt-6 col-12">
                                    <div class="col-4 offset-2">
                                        <input type="submit" value="Delete" class="btn btn-danger w-75"/>
                                    </div>
                                    <div class="col-4 offset-2 ">
                                        <a asp-controller="Leads" asp-action="Index" class="btn btn-outline-dark w-75">Go Back</a>
                                    </div>
                                 
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>



