
@{
    ViewData["Title"] = "MonthlySales";
}

<div class="container-fluid">
    <h1 class="mt-4 p-2">Monthly Sales Data</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Monthly Sales Figures</li>
    </ol>
</div>






