
@{
    ViewData["Title"] = "Google Maps";
}
<div class="container-fluid">
    <h1 class="mt-4">Google Maps</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="card mb-2">
        <div class="card-body">
            <div class="col-12 text-black border-0">
                <p class="text-black mb-2 border-0">Search for customers addresses via google maps below.</p>
            </div>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2375.283030225367!2d-2.1260258839672646!3d53.463401673637634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb69c751637ff%3A0xf4ff138dffd58769!2sArrow%20Trading%20Estate%2C%20Corporation%20Rd%2C%20Audenshaw%2C%20Manchester%20M34%205LR!5e0!3m2!1sen!2suk!4v1620736527948!5m2!1sen!2suk"
        width="1644" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>




