@model BlueMoonAdmin.Models.Customers

@{
    ViewData["Title"] = "Customers";
}
<form method="post" asp-action="DeleteCustomer">
    <input asp-for="Id" hidden />
    <div class="container-fluid">
        <h1 class="mt-4 pb-2"><img src="~/assets/images/alert-icon-1.png" class="text-center" /> Delete Customer @Model.CompanyName?</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Customer" asp-action="CustomerDashboard">Customer Dashboard</a></li>
            <li class="breadcrumb-item active">Delete Customer Confirmation</li>
        </ol>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row pt-1">
                    <div class="col-12 mb-2 text-black">
                        <p class="text-black">You are about to delete customer @Model.CompanyName</p>
                        <p class="text-danger font-italic p-3">** Please be sure you want to delete @Model.CompanyName? Once a customer is deleted, all data is unrecoverable **</p>
                        
                        @*<ol class="text-black">
            <li> Company Name</li>
            <li> All Contact Details</li>
            <li> Service Contract Details i.e when last serviced, machine type etc</li>
            <li> After you have edited the customer you can add more contacts, addresses and notes.</li>
        </ol>*@
                    </div>
                </div>
            </div>
        </div>

        <!-- #region Form -->
        <div class="container col-12 border-bottom">
            <div class="row">
                <div class="col-12">

                    <div class="form-group row pt-3">
                        <div class="col-3">
                            <label asp-for="CompanyName"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="ContactName"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="EmailAddress"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="TelephoneNumber"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="CompanyName" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="ContactName" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="EmailAddress" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="TelephoneNumber" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="OfficeAddress"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="AddressLine"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="CityRegion"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="PostCode"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="OfficeAddress" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="AddressLine" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="CityRegion" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="PostCode" class="form-control" readonly />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ServiceContract"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="LastServiceDate"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="CurrentMachine"></label>
                        </div>
                        <div class="col-3">
                            <label asp-for="CustomerSince"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <input asp-for="ServiceContract" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="LastServiceDate" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="CurrentMachine" class="form-control" readonly />
                        </div>
                        <div class="col-3">
                            <input asp-for="CustomerSince" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="Service"></label>
                        </div>
                        <div class="col-1">
                            <input asp-for="Service" class="form-control" disabled />
                        </div>
                    </div>

                    @*<div class="form-group row">
            <div class="col-6">
                <label asp-for="CompanyName"></label>
                <div class="col-6">
                    <input asp-for="CompanyName" class="form-control" readonly />
                </div>
            </div>
        </div>*@




                    <div class="form-group row pt-4 mb-4">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <input type="submit" class="btn btn-danger w-75" value="Delete Customer" />
                            </div>
                            <div class="col">
                                <a asp-action="ViewCustomer" asp-route-Id="@Model.Id" class="btn btn-secondary w-75">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

