@model BlueMoonAdmin.Models.Customers

@{
    ViewData["Title"] = "Customers";
}
<form method="post" asp-action="UpdateCustomer">
    <input asp-for="Id" hidden />
    <div class="container-fluid">
        <h1 class="mt-4">Update Customer</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Customer" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Customer Create</li>
        </ol>
        <!-- #region Form -->

        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="CompanyName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="ContactName"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="OfficeAddress"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="TelephoneNumber"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="CompanyName" class="form-control" />
                    </div>
                    <div class="col-3">
                        <input asp-for="ContactName" class="form-control" />
                    </div>
                    <div class="col-3">
                        <input asp-for="OfficeAddress" class="form-control">
                    </div>
                    <div class="col-3">
                        <input asp-for="TelephoneNumber" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="ServiceContract"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="LastServiceDate"></label>
                    </div>
                    <div class="col-3">
                        <label asp-for="CurrentMachine"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <input asp-for="ServiceContract" class="form-control" />
                    </div>
                    <div class="col-3">
                        <input asp-for="LastServiceDate" class="form-control" />
                    </div>
                    <div class="col-3">
                        <input asp-for="CurrentMachine" class="form-control">
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Save" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- #endregion -->
    </div>
</form>


